*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    
 }
 body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25
}
p {
    margin-top: 0;
    margin-bottom: 1rem
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,h1 {
    font-size: calc(1.375rem + 1.5vw)
}
 #header{
    position: fixed;
    height: 56px;
    background-color:#282727;
    top: 0;
    left: 0;
    right: 0	;
    z-index: 1;
    overflow: hidden;
  }
.row::after{
	content: "";
	display: block;
	clear: both;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 0);
    margin-right: calc(-.5 * 1.5rem);
    margin-left: calc(-.5 * 1.5rem)
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-top: 0;
}
.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.order-md-2 {
    order: 2!important
}
.col-lg-4 {
    float: left;
    width: 33.33333333%;
    padding: 12px 12px;
    margin: 0 0 24px;
  
}
.lead {
    font-size: 1.25rem;
    font-weight: 300
}
.fw-lighter {
    font-weight: lighter!important
}
.lh-1 {
    line-height: 1!important
}
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d!important
}
.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}
.order-md-1 {
    order: 1!important
}
.img-fluid {
    max-width: 100%;
    height: auto
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important
}
#nav{
	list-style-type: none;
   
	display: inline-block;
    
}
#nav > li {
	display: inline-block;
}
#nav li {
	
	position: relative;

}
#header .search-button {
    float: right;
    cursor: pointer;
}
#nav li a {
    text-decoration: none;
	line-height: 56px;
}
#nav .nav-Carousel {
    color: #fff;
    font-size: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-left: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;

}

#nav .nav-Home {
    color: #fff;
    padding: 0 8px;
}
#nav .nav-Link {
    color: #ffffff8c;
    padding: 0 8px;
}
#nav .nav-Disabled {
    color: #515157;
    padding: 0 8px;
}
#header .search-button {
	float: right;
	line-height: 56px;
	padding: 0 20px;
    border-radius: 1px ;
}
#header .search-button .search-inp {
    
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}
#header .search-button .search-btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #198754;
    font-weight: 400;
    line-height: 1.5;
    background-color: #212529;
    background-clip: padding-box;
    border: 1px solid #198754;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
}
#header .search-button .search-btn:hover { 
    background-color: #198754;
    cursor: pointer;
    color: #fff;
}
#slider{
	position: relative;
	margin-top: 56px ;
	padding-top: 20%;
	background:url('img/xam.jpg') top center / cover no-repeat;
}
#slider .text-content {
	position: absolute;
	bottom: 50px;
	color: #fff;
    left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
#slider .text-headding {
    font-size: calc(1.375rem + 1.5vw);
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
#slider .text-description {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 1rem;
}
#slider .btn-headding{
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
    font-size: 1.25rem;
    padding:  0.5rem 1rem;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}
#slider .btn-headding:hover{
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    cursor: pointer;
}
#heading {
    position: relative;
	margin-top: 50px ;
	background:#fff top center / cover no-repeat;
    text-align: center;
}
#heading .img-heading {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#heading .name-heading {
    font-weight: 400 !important;
    font-size: calc(1.325rem + .9vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
#heading .heading-description {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#heading .btn-secondary {
    background-color: #6c757d;
    font-size: 1.25rem;
    padding:  0.5rem 1rem;
    border: 1px solid #6c757d;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
}
main {
    display: block;
    padding: auto;

}

.featurette-divider {
    margin: 5rem 0;
}
.featurette-heading {
    letter-spacing: -.05rem;
    font-size: 50px;
    margin-top: 7rem;
}
footer {
    display: block;
    
}
.float-end {
    float: right!important;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
.footercl {
    text-align: left;
}

